<!DOCTYPE html> 
<html> 
<head> 
     <meta charset="utf-8"> 
     <title>Ghost</title> 
     <link  rel="stylesheet" type="text/css" href="stylesheet"> 
</head> 
<body> 
     <h1>Ghost</h1> 
     <p>샘플 사이트입니다. 앞으로 계속 추가해 나가도록 하겠습니다.</p> 
     <h3><%= name %>님 반갑습니다.</h3>

    <div class="container"> 
       <fieldset> 
         <form action="/" method="post"> 
           <input name="name" type="text" class="ghost-input" placeholder="Enter Your Name" required> 
           <input type="submit" class="ghost-button" value="submit"> 
         </form> 
       </fieldset> 
     </div>

</body> 
</html>
