.trans_btn {
    background: none;
    border: none;
    width:100%;
    text-align: left;
    margin-bottom: 5%;
}

.project_list{
   
   
    vertical-align:middle;
}

#toc-toggle{
    display:block;
}
